* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 3;
}

.sidebar-fig {
    display: flex;
    align-items: start;
    margin: 2px;
    margin-top: 100px;
}

.sidebar-fig p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}


.sidebar-img {
    margin-top: 10px;
    width: 50px;
    border-radius: 100%;
    border: 5px solid #50509f; /* Adjust this margin as needed */
}
.sidebar.active ~ .content-section {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.content-section {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

    gap: 2rem;
}




.sidebar #btn {
    position:absolute;
    color:#fff;
    top:.4rem;
    left:50%;
    font-size:1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}


.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.bold{
    font-weight:600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    width: 50px; /* Set a fixed width for the navigation items */
    height: 50px; /* Set a fixed height for the navigation items */
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}


.sidebar.active ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; /* Center icon vertically and horizontally */
    text-decoration: none;
    border-radius: 0.8rem;
    width:auto;
    height:auto;
}

.sidebar.active ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    white-space: nowrap;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li:hover .tooltip {
    display: none;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally within the heading */
    margin-bottom: 0.5rem; /* Add spacing below the container */
    margin-top: 4rem;
}

.portrait {
    margin-bottom: 1rem; /* Add spacing between portrait and info */
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center; /* Center-align text within info */
}

.name {
    font-weight: bold;
    margin: 0; /* Remove default margin for h1 */
}

.description {
    margin: 0; /* Remove default margin for p */
}

.portrait-img {
    width: 96px;
    border-radius: 100%;
    border: 2px solid #12171e;
}


.tech-section {
    display: flex;
    justify-content: space-between; /* Spread the tables horizontally */
    align-items: flex-center; /* Align the tables at the top */
    margin-top: 2rem;
}

.tech-table {
    flex-basis: calc(50% - 1rem); /* Set each table to take 50% of the available space */
    padding: 1rem;
    background-color: #eee;
    border: 2px solid #12171e;
    border-radius: 0.8rem;
    z-index: 2;
}

.tech-liking {
    background-color: #ffc;
}

.tech-learning {
    background-color: #cff;
}

.tech-header {
    color: #12171e; /* Set the text color to white */
    font-size: 1.5rem; /* Increase the font size for better visibility */
    margin-bottom: 1rem;
}

.tech-item ul {
    list-style-type: none;
    padding: 0;
}

.tech-item ul li {
    background-color: #eee;
    border-radius: 12px;
    border: 2px solid #12171e;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.tech-item ul li a {
    color: #12171e;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.tech-item ul li a i {
    margin-right: 0.5rem;
}

.tech-name {
    font-weight: bold;
    color: #12171e;
}